<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="folder" value="C:\NAS\storage"/>
        <add key="excludeFolders" value=".svn,Debug,Release"/>
        <add key="excludeFiles" value="Thumbs.db,.directory"/>
    </appSettings>
  <connectionStrings>
    <add name="FileSystemLibraryEntities" connectionString="metadata=res://*/FileSystemLibraryModel.csdl|res://*/FileSystemLibraryModel.ssdl|res://*/FileSystemLibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LMOBILE\SQL2012;initial catalog=FileSystemLibrary;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
